body {
    font-family: Arial, sans-serif;
    background-color: #f0f4f8;
    margin: 20px;
    color: #333;
  }

  h1, h2 {
    color: #004080;
  }

  p {
    font-size: 16px;
    line-height: 1.6;
  }

  table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
  }

  th, td {
    border: 1px solid #ccc;
    padding: 10px;
    text-align: center;
  }

  nav ul {
    list-style: none;
    padding: 0;
    display: flex;
    gap: 20px;
    background-color: #004080;
    ;
  }

  nav ul li a {
    color: white;
    text-decoration: none;
    padding: 10px 15px;
    display: block;
  }

  nav ul li a:hover {
    background-color: #0066cc;
  }

  